<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Flask Plotlyjs Example</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 
  <!-- source: image in jumbotron: https://www.youtube.com/watch?v=DxJgocA5zLc -->
 <style>
  
  .jumbotron{
     margin-top: 20px;
     background-image: url("https://dabblogpress.files.wordpress.com/2019/03/bacteria_by_filterforgedotcom.jpg");
     background-size: cover;
     color: yellow;
    }
    .panel-custom {
    background-color: #353232;
}

</style>
</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>Belly Button Biodiversity Dashboard</h1>
        <br>
        <p>Data Exploration of Belly Button Biodiversity</p>
      </div>
    </div>
    
  <p><a href="http://robdunnlab.com/projects/belly-button-biodiversity/" target="_blank">Click here to explore the history and details of the 2011 Belly Button Biodiversity project</a></p>
    <br>
    <div class="row">
      <div class="col-md-4">
       
        <div class="well">
          <h5>SELECT the Sample</h5><select id="selDataset" onchange="optionChanged(this.value)"></select>
          
        </div>
      
         <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Sample MetaData</h3>
          </div>
          <div id="sample-metadata" class="panel-body">
          <table class="table table-striped">
            <tbody></tbody>
          </table>
          </div>
        </div>
      </div>
      <div class="col-md-5">
         
        <div id="pie"></div>
      </div>
      <div class="col-md-5">
        <div id="gauge"></div>
      </div>
    </div>
  </div>
  
   <!-- A Blue bar underneath the Main Image-->
   <div class="container">
      <div class="row">
        <div class="col-md-12" style="background-color : rgb(91, 112, 92)">
        <br>
        </div>
      </div>
   </div>
  
  
  <div class="row">
    <div class="col-md-12">
      <center>
      <div id="bubble"></div>
      </center>
    </div>
  </div>

  <!-- <script src="https://cdn.plot.ly/plotly-1.31.2.min.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>

</body>

</html>
